* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #083b4c;
}

section {
    max-width: 1170px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 50px ;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxes .square {
    width: 120px;
    height: 120px;
    font-size: 1.5rem;
    background-color: #1389b2;
    margin: 1rem;
    text-align: center;
    line-height: 120px;
}

.boxes  .box-3-5 {
    background-color: #f0466f;
}

.boxes  .box-3 {
    background-color: #0ad6a1;
}

.boxes  .box-5 {
    background-color: #ffd166;
}