* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    max-width: 1170px;
    background-color: #083b4c;
    margin: auto;

}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 50px ;
}